@media screen and (max-width:1349px){ /* 태블릿 */
    #gate_slide .swiper-slide .text{padding: 0 80px;;}
    /* ======================================================== city : s */
    #wrap_slide .city .video_box .city_text{padding: 80px 0;}
    #wrap_slide .city .video_box .city_text .city_box{width: 780px;}
    #wrap_slide .city .video_box .city_text .city_box .text_top>p{font-size: 1.7rem;}
    #wrap_slide .city .video_box .city_text .city_box .text_top>p>span{font-size: 3.4rem;}
    #wrap_slide .city .video_box .city_text .city_box .text_bottom .text_left>p{font-size: 1.875rem;}
    #wrap_slide .city .video_box .city_text .city_box .text_bottom .text_left>p:last-child{
        font-size: 0.875rem;
    }
    #wrap_slide .city .video_box .city_text .city_box .text_bottom .text_right>p{font-size: 0.625rem;}
    /* ======================================================== city : e */
    /* ======================================================== value : s */
    .value .container{
        display: flex; flex-flow: column nowrap;
        justify-content: center; align-items: center;
    }
    .value .container h2{font-size: 1.875rem;}
    .value .container #value_slide{height: 300px;}
    .value .container #value_slide .swiper-slide .box .value_text h3{font-size: 1.563rem;}
    .value .container #value_slide .swiper-slide .box .value_text p{font-size: 0.75rem;}
    .swiper-button-next{right: 100px;}
    .swiper-button-prev{left: 100px;}
    /* ======================================================== value : e */
    /* ======================================================== printed,embroidery : s */
    .printed .container, .embroidery .container{flex-flow: column nowrap; height: 100vh;}
    .video{width: 100%; height: 65%;}
    .container .text{width: 100%; height: 35%; padding: 50px 80px 30px;}
    .container .text .top .title{font-size: 2.5rem; margin-bottom: 20px;}
    .container .text .top .title>span{font-size: 0.75rem;}
    .container .text .top>p:nth-child(2){font-size: 1rem;}
    .container .text .top>p:nth-child(3){font-size: 0.875rem;}
    .printed .text .bottom{display: flex; align-items: end; justify-content: end;}
    /* ======================================================== printed,embroidery : e */
    /* ======================================================== list : s */
    .list .container{flex-flow: column nowrap;}
    .list .container .left_box{width: 100%;}
    .list .container .left_box .opaque_text{font-size: 1.875rem;}
    .right_box{width: 100%;}
    .right_box>a .opaque_text>p{font-size: 1.563rem;}
    .right_box>a .opaque_text>.tmi>p{font-size: 0.875rem;}
    /* ======================================================== list : e */
}