html body * {transition: all 0.5s; line-height: 1.5;}

/* ======================================================== gate : s */
main .gate{width: 100%; height: 100vh;}
#gate_slide{height: 100%; position: relative; overflow: hidden;}
#gate_slide .swiper-slide{width: 100%; height: 100%;}
#gate_slide .swiper-slide>.img{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
}
#gate_slide .slide1 .img{background: url(../images/bg_01.jpg) center/cover;}
#gate_slide .slide2 .img{background: url(../images/bg_02.jpg) center/cover;}
#gate_slide .slide3 .img{background: url(../images/bg_03.jpg) center/cover;}
#gate_slide .swiper-slide .text{
    width: 100%; height: 100%; background: none;
    position: absolute; left: 0; top: 0; z-index: 10;
    display: flex; flex-flow: column nowrap;
    justify-content: center;
    padding: 0 150px;
}
#gate_slide .swiper-slide .text>p{font-size: 1.875rem;margin-left: 10px;}
#gate_slide .swiper-slide .text>*{color: #fff;}
#gate_slide .swiper-slide .text h2{
    font-size: 3.75rem; margin: 5px 0 20px;
    font-weight: 600;
}
#gate_slide .swiper-slide .text .tmi{}
#gate_slide .swiper-slide .text .tmi span{
    display: block; margin-bottom: 10px;margin-left: 10px;
    font-weight: 200;color: #fff;
}
/* ======================================================== gate : e */
/* ======================================================== value : s */
.value{ width: 100%; height: 100vh; background-color: #fff;}
.value .container{
    width: 100%; height: 100vh;; padding: 80px 0;
}
.value .container h2{
    font-size: 3.125rem; text-transform: uppercase; font-weight: 600;
    margin-bottom: 80px; text-align: center;
}
.value .container #value_slide{
    width: 100%; height: 600px;
}
.value .container #value_slide .swiper-slide .box{
    max-width: 1000px; min-width: 300px; margin: 0 auto; height: 100%; 
    position: relative;
}
.value .container #value_slide .swiper-slide .box .value_img{
    width: 100%; height: 100%; position: absolute; left: 0; top: 0;
    border-radius: 50px;
}
.value .container #value_slide .swiper-slide .box .value_text{
    width: 100%; height: 100%; position: absolute; left: 0; left: 0; z-index: 10;
    border-radius: 50px; background-color: rgba(0, 0, 0, 0.2);
    display: flex;flex-flow: column nowrap; justify-content: center; align-items: center;
}
.value .container #value_slide .swiper-slide .box .value_text * {
    color: #fff; text-align: center;
}
.value .container #value_slide .swiper-slide .box .value_text h3{
    font-size: 2.5rem; font-weight: 600; margin-bottom: 50px;
}
.value .container #value_slide .swiper-slide .box .value_text p{
    font-size: 1.25rem;
}
.value .container #value_slide .value_box1 .box  .value_img{
    background: url(../images/whitegown_value/cs.jpg) center/cover;
}
.value .container #value_slide .value_box2 .box  .value_img{
    background: url(../images/whitegown_value/parcelservice.jpg) center/cover;
}
.value .container #value_slide .value_box3 .box  .value_img{
    background: url(../images/whitegown_value/factory.jpg) center/cover;
}
.value .container #value_slide .value_box4 .box  .value_img{
    background: url(../images/whitegown_value/cs.jpg) center/cover;
}
.value .container #value_slide .value_box5 .box  .value_img{
    background: url(../images/whitegown_value/parcelservice.jpg) center/cover;
}
.value .container #value_slide .value_box6 .box  .value_img{
    background: url(../images/whitegown_value/factory.jpg) center/cover;
}
.swiper-button-next::after,
.swiper-button-prev::after{display: none;}
.swiper-button-next,.swiper-button-prev{
    width: 50px; height: 50px;
}
.swiper-button-next{
    right: 270px;
    background: url(../images/icon/arrow_right.png) center/cover;
}
.swiper-button-prev{
    left: 270px;
    background: url(../images/icon/arrow_left.png) center/cover;
}
/* ======================================================== value : e */
#wrap_slide{
    height: max-content;
}
#wrap_slide .swiper-slide{
    width: 100%; height: 100vh;
    position: sticky; top: 0;
}
#wrap_slide .city{background-color: yellow;}
/* ======================================================== city : s */
#wrap_slide .city{}
#wrap_slide .city .video_box{width: 100%; height: 100%; position: relative;}
#wrap_slide .city .video_box .video_video{
    width: 100%; height: 100%;
    top: 50%; left: 50%; overflow: hidden;
}
#wrap_slide .city .video_box video{width: 100%; height: 100%; object-fit: cover;}
#wrap_slide .city .video_box .city_text{
    background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 5;
    display: flex; flex-flow: column nowrap; padding: 100px 0;
    justify-content: space-between; align-items: center;
}
#wrap_slide .city .video_box .city_text * {color: #fff;}
#wrap_slide .city .video_box .city_text .city_box{
    width: 1400px;height: 100%; 
    display: flex; flex-flow: column;
    justify-content: space-between; align-items: center;
}
#wrap_slide .city .video_box .city_text .city_box .text_top{
    text-align: right; width: 100%;
}
#wrap_slide .city .video_box .city_text .city_box .text_top>p{
    font-size: 2.5rem; font-weight: 200;
}
#wrap_slide .city .video_box .city_text .city_box .text_top>p>span{
    font-size: 5rem; color: #FFF480; margin-right: 10px;
}
#wrap_slide .city .video_box .city_text .city_box .text_bottom{
    display: flex; width: 100%; justify-content: space-between; align-items: end;
}
#wrap_slide .city .video_box .city_text .city_box .text_bottom .text_left{}
#wrap_slide .city .video_box .city_text .city_box .text_bottom .text_left>p{
    font-size: 2.5rem; margin-bottom: 20px;
}
#wrap_slide .city .video_box .city_text .city_box .text_bottom .text_left>p:last-child{
    font-size: 1.25rem;
}
#wrap_slide .city .video_box .city_text .city_box .text_bottom .text_right{}
#wrap_slide .city .video_box .city_text .city_box .text_bottom .text_right>p{
    font-size: 1rem;
}
/* ======================================================== city : e */
/* ======================================================== printed,embroidery : s */
.printed .container, .embroidery .container{
    width: 100%; height: 100vh;
    display: flex; justify-content: space-between;
}
.video{width: 1200px; height: 100vh;position: relative; } /* ====비디오 */
.video .opaque{
    width: 100%; height: 100%; position: absolute; left: 0; top: 0;
    background-color: rgba(0, 0, 0, 0.2); z-index: 5;
}
.video>video{
    width: 100%; height: 100%; object-fit: cover;
    position: absolute; left: 0; top: 0;
}
.container .text{
    width: 720px; height: 100%; background-color: #e3e7e6;
    padding: 80px; display: flex; flex-flow: column nowrap;
    align-content: space-between; justify-content: space-between;
}
.container .text .top{}
.container .text .top .title{
    width: max-content;
    font-size: 3.75rem; color: #003366;
    display: flex; flex-flow: column nowrap;
    align-items: center; font-weight: 600;
    margin-bottom: 40px;
}
.container .text .top .title>span{
    display: block; font-size: 1rem; color: #888;
    margin-bottom: -15px; text-transform: uppercase;
}
.container .text .top>p:nth-child(2){
    font-size: 1.25rem; margin-bottom: 20px;
}
.container .text .top>p:nth-child(3){color: #003366; }
.container .text .bottom{}
.container .text .bottom>a{
     height: 30px; width: max-content;
    display: flex; align-items: center;
    justify-content: center;
}

.embroidery .text .bottom{
    display: flex; align-items: center; justify-content: end;
}
.container .text .bottom>a>p{
    font-size: 1.25rem; margin-right: 10px;}
.container .text .bottom>a>p:last-child{
    width: 25px; height: 20px; margin-right: 0;
}
.container .text .bottom>a>p>img{display: block; width: 100%; height: 100%;}
/* ======================================================== printed,embroidery : e */
/* ======================================================== list : s */
.list{ width: 100%; height: 100vh;}
.list .container{width: 100%; height: 100%; display: flex;}
.list .container * {color: #fff; text-transform: uppercase;}
.list .container .left_box{
    width:50%; height: 100%;
    position: relative;
}
.list .container .left_box .opaque_text{
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%; z-index: 10;
    text-align: center; display: flex; align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.2)
}
.list .container .left_box .list_img{
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background: url(../images/list/building.jpg) center/cover;
}
.right_box{
    width: 50%; height: 100%; display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
}
.right_box>a{width: 100%; height: 100%;position: relative;}
.right_box>a .opaque_text{
    width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;
}
.right_box>a .opaque_text>p{
    font-size: 1.875rem; margin-bottom: 30px; font-weight: 500;
}
.right_box>a .opaque_text>.tmi{}
.right_box>a .opaque_text>.tmi>p{}
.right_box>a .list_img{
    width: 100%; height: 100%; position: absolute; left: 0; top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.right_box>a:nth-child(1) .list_img{background-image: url(../images/list/cs.jpg)}
.right_box>a:nth-child(2) .list_img{background-image: url(../images/list/bank.jpg)}
.right_box>a:nth-child(3) .list_img{background-image: url(../images/list/delivery.jpg)}
.right_box>a:nth-child(4) .list_img{background-image: url(../images/list/q&a.jpg)}
.right_box>a:hover .opaque_text{background-color: rgba(0, 0, 0, 0.1);}
.right_box>a:hover .opaque_text *{color: #003366};
/* ======================================================== list : e */

